<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% assign page_title = '' %}
  {% if page.title == "Home" %}
      {% capture page_title %}
          {{site.title}} · {{site.description}}
      {% endcapture %}
  {% else %}
      {% capture page_title %}
          {{page.title}} · {{site.title}}
      {% endcapture %}
  {% endif %}
  {% capture page_title %}
      {{page_title | strip | rstrip | lstrip | escape | strip_newlines}}
  {% endcapture %}

  <title>{{page_title}}</title>

  {% assign page_description = '' %}
  {% capture page_description %}
      {% if page.description %}
          {{page.description | strip_html | strip | rstrip | strip_newlines | truncate: 160}}
      {% else %}
          {{site.description}}
      {% endif %}
  {% endcapture %}

  {% capture page_description %}
      {{page_description | strip | rstrip | lstrip | escape | strip_newlines}}
  {% endcapture %}

  <meta name="description" content="{{page_description}}"/>
  <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">
  <meta name="author" content="{% if page.author.name %}{{page.author.name}}{% else %}{{site.author.name}}{% endif %}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  {% assign page_image = '' %}
  {% capture page_image %}
      {% if page.cover %}
          {{ page.cover | prepend: site.baseurl | prepend: site.url }}
      {% else %}
          {{ site.cover | prepend: site.baseurl | prepend: site.url }}
      {% endif %}
  {% endcapture %}
  {% capture page_image %}{{ page_image | strip | rstrip | lstrip | escape | strip_newlines }}{% endcapture %}

  <!-- Social: Facebook / Open Graph -->
  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="{% if page.author.name %}{{page.author.name}}{% else %}{{site.author.name}}{% endif %}">
  <meta property="article:section" content="{{ page.categories | join: ', ' }}">
  <meta property="article:tag" content="{{ page.keywords }}">
  <meta property="article:published_time" content="{{ page.date }}">
  {% else%}
  <meta property="og:type" content="website">
  {% endif %}
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:site_name" content="{% if page.author.name %}{{page.author.name}}{% else %}{{site.author.name}}{% endif %}">
  <meta property="og:locale" content="{{ site.og_locale }}">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter.username }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description }}">
  <meta name="twitter:image:src" content="{{ page_image }}">

  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{{ page_title }}">
  <meta itemprop="description" content="{{ page_description }}">
  <meta itemprop="image" content="{{ page_image }}">

  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/icons/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/icons/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/icons/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/icons/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/icons/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/icons/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/icons/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/icons/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icons/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/icons/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/icons/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/favicon-16x16.png" | prepend: site.baseurl }}">

  <link rel="manifest" href="{{ "/assets/icons/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#f3f3f3">
  <meta name="msapplication-TileImage" content="{{ "/assets/icons/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <meta name="google-site-verification" content="wFbd8crRx496YV6OrLZjo7_TpX629_hM83eyIkdM0Cc" />
  <meta name="wot-verification" content="6da2597a332a1fadad8f"/>

  <!-- Canonical link tag -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>

  <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <script src="{{ "/assets/js/rem.min.js" | prepend: site.baseurl }}"></script>
  <![endif]-->
</head>
