@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/eot/FiraSans-Regular.eot');
  src: local("Fira Sans Regular"), url('../fonts/eot/FiraSans-Regular.eot') format("embedded-opentype"), url('../fonts/woff/FiraSans-Regular.woff') format("woff"), url('../fonts/ttf/FiraSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/eot/FiraSans-Italic.eot');
  src: local("Fira Sans Regular Italic"), url('../fonts/eot/FiraSans-Italic.eot') format("embedded-opentype"), url('../fonts/woff/FiraSans-Italic.woff') format("woff"), url('../fonts/ttf/FiraSans-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/eot/FiraSans-Bold.eot');
  src: local("Fira Sans Bold"), url('../fonts/eot/FiraSans-Bold.eot') format("embedded-opentype"), url('../fonts/woff/FiraSans-Bold.woff') format("woff"), url('../fonts/ttf/FiraSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/eot/FiraSans-BoldItalic.eot');
  src: local("Fira Sans Bold Italic"), url('../fonts/eot/FiraSans-BoldItalic.eot') format("embedded-opentype"), url('../fonts/woff/FiraSans-BoldItalic.woff') format("woff"), url('../fonts/ttf/FiraSans-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Fira Mono';
  src: url('../fonts/eot/FiraMono-Regular.eot');
  src: local("Fira Mono"), url('../fonts/eot/FiraMono-Regular.eot') format("embedded-opentype"), url('../fonts/woff/FiraMono-Regular.woff') format("woff"), url('../fonts/ttf/FiraMono-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Fira Mono';
  src: url('../fonts/eot/FiraMono-Bold.eot');
  src: local("Fira Mono Bold"), url('../fonts/eot/FiraMono-Bold.eot') format("embedded-opentype"), url('../fonts/woff/FiraMono-Bold.woff') format("woff"), url('../fonts/ttf/FiraMono-Bold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  height: 100%;
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #069;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  &:hover {
    background-color: #069;
    color: #fff;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  line-height: 1.25;
  color: #313131;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1.1rem;
  font-size: 1.1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
}

hr {
  position: relative;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
  margin: 1.5rem 0;
}

abbr {
  font-size: 85%;
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

code, pre {
  font-family: "Fira Mono", monospace;
}

code {
  color: #f14e32;
  font-size: .8rem;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .7rem;
  line-height: 1.4;
  white-space: pre;
  overflow-x: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  max-height: 800px;
  code {
    font-size: .7rem;
    color: inherit;
    background-color: transparent;
    padding: 0;
  }
}

blockquote {
  color: #7a7a7a;
  border-left: .25rem solid #ddd;
  margin: .8rem 0;
  padding: .5rem 1rem;
  background: #f8f8f8;
}

img {
  display: block;
  border-radius: 5px;
  margin: 0 0 1rem;
  max-width: 100%;
  height: auto;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #e5e5e5;
  padding: .25rem .5rem;
}

tbody tr:nth-child(odd) {
  td, th {
    background-color: #f9f9f9;
  }
}

h2.year i.fa {
  margin-top: -5px;
  margin-right: 5px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.message {
  margin-bottom: 1rem;
  color: #717171;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ddd;
  background-color: #f3f3f3;
}

.masthead-title {
  /*text-align: center;*/
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  a {
    color: #505050;
    font-weight: bold;
    &:hover {
      background-color: transparent;
    }
  }
  small {
    font-size: 75%;
    font-weight: normal;
    color: #aaa;
    letter-spacing: 0;
    display: block;
    clear: both;
  }
}

.page, .post {
  margin-bottom: 4em;
}

.post {
  .tagged {
    margin-top: 1rem;
  }
  .tagged a {
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    background: transparent;
    display: inline-block;
    color: #999;
    outline: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 70%;
  }
  .tagged a:hover {
    cursor: pointer;
    border: 1px solid #555;
    background: #444;
    color: #fff;
  }
}

.wrap {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding: 0;
}

.post-list {
  margin: 0 0 .75em;
  font-size: 1.2em;
}

.page a, .post a {
  border-bottom: 1px solid #069;
}

.notes a, .page a:hover, .post a:hover {
  border: 0;
}

p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.page-title, .post-title {
  margin-top: 0;
}

.post-list-date {
  float: right;
  margin: 0 0 0 20px;
}

.page-title, .post-title {
  /*text-align: center*/
}

.post-date {
  /*text-align: center*/
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-list-date small {
  color: #757575;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-list-desc {
  color: #888;
  font-size: 80%;
  padding-right: 110px;
}

.post-top-meta, .page-top-meta {
  margin-bottom: 2rem;
}

.hrline {
  background: #ddd;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#ccc), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ccc, rgba(255, 255, 255, 0));
  height: 1px;
  margin: 2.5em 0;
}

.twitter-follow, .license {
  margin-bottom: 1rem;
}

.copyright {
  font-size: 80%;
  color: #888;
}

.license {
  font-size: 80%;
  color: #888;
  text-align: justify;
}

.footer {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  /*text-align: center;*/
  max-width: 28rem;
}

.master-nav {
  background: #444;
  padding: 5px;
}

.nav {
  margin: 20px auto 0 auto;
  *zoom: 1;
  font-weight: 400;
  max-width: 28rem;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.top-menu {
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  /*text-align: center;*/
  line-height: 2.4;
  font-size: 13px;
  overflow: hidden;
  li {
    /*display: inline;*/
    float: left;
    a {
      color: #aaa;
      border-bottom: 0;
      background: #555;
      padding: 5px 10px;
      border: 1px solid #666;
      white-space: nowrap;
      letter-spacing: 1px;
      margin-left: 2px;
      margin-right: 2px;
      &.blue {
        color: #09f;
        background: #036;
        border: 1px solid #069;
      }
      &.green {
        color: #00B100;
        background: #004500;
        border: 1px solid #007e00;
      }
      &.red {
        color: #F33D36;
        background: #7D0000;
        border: 1px solid #BB0000;
      }
      &:hover {
        border: 1px solid #777;
        background: #666;
        color: #fff;
      }
    }
  }
}

.back {
  /*text-align: center;*/
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-social-links {
  font-size: 14px;
  /*text-align: center;*/
  margin-top: 5px;
  a {
    padding: 3px 5px;
    width: 25px;
    height: auto;
    position: relative;
    text-align: center;
    display: inline-block;
    color: #777;
    -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    &:hover {
      color: #fff;
      background: #111;
    }
  }
}
