---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

  {% include head.html %}

  <body>

    <div class="wrap">
      <div class="master-nav">
        <div class="nav">
            <ul class="top-menu">
              <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="/about"><i class="fa fa-info-circle"></i> About</a></li>
              <li><a href="/tagged"><i class="fa fa-hashtag"></i> Tags</a></li>
              <!--<li><a href="/downloads"><i class="fa fa-download"></i> Downloads</a></li>-->
              <li><a href="http://heiswayi.nrird.com"><i class="fa fa-camera-retro"></i> Photography</a></li>
            </ul>
        </div>
      </div>

      <div class="masthead">
        <div class="container">
          <h2 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            {% if site.author.display_bio %}
            <small>{% include bio.html %}</small>
            {% endif %}
          </h2>

          {% if site.display_social_icons %}
            {% include social_links.html %}
          {% endif %}

        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

	  {% include foot.html %}

  </body>
</html>
